.header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0.9;
  background: #141414;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  &__logo {
    &:focus {
      outline-offset: 2px;
      outline: 1px solid var(--orange-color);
    }
  }

  &__wrapper-nav {
    display: flex;
    align-items: center;
    width: 65%;
  }

  &__wrapper-nav.burger-menu {
    transform: translateX(0);
    opacity: 1;
  }

  &__link {
    margin-left: auto;
    margin-right: 30px;
    padding: 11px 35px 12px 39px;
    outline: none;
    color: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1.5px solid var(--orange-color);
    background: var(--bg-btn);
    box-shadow: 0px 0px 50px 0px var(--shadow-btn);
    transition: background 0.4s linear;

    &:focus {
      outline: 2px solid var(--orange-color);
    }

    &:hover {
      background: var(--orange-color);
    }

    &:active {
      background: var(--shadow-btn);
    }
  }

}

.header-scroll {
  background: #141414;
  opacity: 0.9;
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
