<section class="blog blog-page">
  <div class="container">
    <h2 class="section-title blog__title">
      Блог компании
    </h2>
    <ul class="blog-page__list list-reset">
      <li class="blog-page__item">
        <img src="./images/blog-1.jpg" alt="Какое то описание">
        <div class="blog-page__inner">
          <span class="blog-page__management">Менеджмент</span>
          <p class="blog-page__desc">
            Минфин предложил единый налоговый вычет
          </p>
          <p class="blog-page__date">
            Арман Арманов, Октябрь 13, 2022
          </p>
          <p class="blog-page__text">
            Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его
            включат в систему единого налогового вычета наряду с пенсионными и страховыми
            инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I, запущенный в 2015 году. Новый
            инвестсчет будет неинтересен для инвесторов в предложенной
          </p>
          <a href="#" class="blog-page__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
      <li class="blog-page__item">
        <img src="./images/blog-2.jpg" alt="Какое то описание">
        <div class="blog-page__inner">
          <span class="blog-page__management">Менеджмент</span>
          <p class="blog-page__desc">
            Рэй Далио перестал считать наличные «мусором»
          </p>
          <p class="blog-page__date">
            Арман Арманов, Октябрь 13, 2022
          </p>
          <p class="blog-page__text">
            Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его
            включат в систему единого налогового вычета наряду с пенсионными и страховыми
            инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I, запущенный в 2015 году. Новый
            инвестсчет будет неинтересен для инвесторов в предложенной
          </p>
          <a href="#" class="blog-page__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
      <li class="blog-page__item">
        <img src="./images/blog-3.jpg" alt="Какое то описание">
        <div class="blog-page__inner">
          <span class="blog-page__management">Менеджмент</span>
          <p class="blog-page__desc">
            Инвестиции в 5G – необходимое условие экономического развития
          </p>
          <p class="blog-page__date">
            Арман Арманов, Октябрь 13, 2022
          </p>
          <p class="blog-page__text">
            Минфин разработал новый формат индивидуальных инвестиционных счетов (ИИС-III) — его
            включат в систему единого налогового вычета наряду с пенсионными и страховыми
            инвестициями. С 2024 года ИИС-III полностью заменит ИИС-I, запущенный в 2015 году. Новый
            инвестсчет будет неинтересен для инвесторов в предложенной
          </p>
          <a href="#" class="blog-page__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
