<section id="blog" class="blog">
  <div class="container">
    <div class="blog__wrapper">
      <h2 class="section-title blog__title">
        Блог компании
      </h2>
      <div class="blog__swiper-wrapper">
        <div class="blog__swiper swiper">
          <!-- Additional required wrapper -->
          <div class="blog__swiper-inner swiper-wrapper">
            <!-- Slides -->
            <div class="blog__slide swiper-slide">
              <img class="blog__img" src="./images/blog-1.jpg" alt="">
              <p class="blog__desc">
                Рэй Далио перестал считать наличные «мусором»
              </p>
              <a href="blog-link.html" class="blog__link link-reset">
                Подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
                  <path d="M1 1L5.44444 5L1 9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
            <div class="blog__slide swiper-slide">
              <img class="blog__img" src="./images/blog-2.jpg" alt="">
              <p class="blog__desc">
                Инвестиции в 5G – необходимое условие экономического развития
              </p>
              <a href="#" class="blog__link link-reset">
                Подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
                  <path d="M1 1L5.44444 5L1 9" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </div>
            <div class="blog__slide swiper-slide">
              <img class="blog__img" src="./images/blog-3.jpg" alt="">
              <p class="blog__desc">
                Минфин предложил единый налоговый вычет
              </p>
              <a href="#" class="blog__link link-reset">
                Подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
                  <path d="M1 1L5.44444 5L1 9" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </div>
            <div class="blog__slide swiper-slide">
              <img class="blog__img" src="./images/blog-1.jpg" alt="">
              <p class="blog__desc">
                Рэй Далио перестал считать наличные «мусором»
              </p>
              <a href="#" class="blog__link link-reset">
                Подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
                  <path d="M1 1L5.44444 5L1 9" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </div>
            <div class="blog__slide swiper-slide">
              <img class="blog__img" src="./images/blog-2.jpg" alt="">
              <p class="blog__desc">
                Инвестиции в 5G – необходимое условие экономического развития
              </p>
              <a href="#" class="blog__link link-reset">
                Подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
                  <path d="M1 1L5.44444 5L1 9" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </div>
            <div class="blog__slide swiper-slide">
              <img class="blog__img" src="./images/blog-3.jpg" alt="">
              <p class="blog__desc">
                Минфин предложил единый налоговый вычет
              </p>
              <a href="#" class="blog__link link-reset">
                Подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
                  <path d="M1 1L5.44444 5L1 9" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>

          <div class="blog__pagination swiper-pagination"></div>

        </div>
        <div class="swiper-button-prev">
          <svg width="26" height="27" viewBox="0 0 26 27" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13 26C19.6274 26 25 20.4036 25 13.5C25 6.59644 19.6274 1 13 1C6.37258 1 1 6.59644 1 13.5C1 20.4036 6.37258 26 13 26Z"
              stroke-width="2" stroke-miterlimit="10" />
            <path d="M15 8.8125L10 13.5L15 18.1875" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1Z"
              stroke-width="2" stroke-miterlimit="10" />
            <path d="M11 17.5L16 13L11 8.5" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
          </svg>
        </div>
      </div>

    </div>
  </div>
</section>
