<section class="feedback">
  <div class="container">
    <form class="form feedback__form" action="#" method="post">
      <div class="feedback__wrapper">
        <input class="form__input feedback__input" type="text" name="name" placeholder="Арман Арманов" required>
        <div class="feedback__inner">
          <input class="form__input feedback__input" type="email" name="email" placeholder="armanov@yahoo.com" required>
          <input class="form__input feedback__input" type="tel" name="telephone" placeholder="+7 777 8I" required>
        </div>
        <textarea class="feedback__textarea" name="message" cols="30" rows="10" placeholder="Текст обращения"></textarea>
        <button class="btn feedback__btn btn-reset">
          Получить консультацию
        </button>
      </div>
    </form>
  </div>
</section>
