<header class="header">
  <div id="header" class="container header__wrapper">
    <a href="index.html" class="header__logo">
      <img src="./images/logo.svg" alt="Логотип компании Fonte">
    </a>
    <div id="burger-menu" class="header__wrapper-nav">
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="index.html" class="nav__link link-reset">
              О&nbsp;нас
            </a>
          </li>
          <li class="nav__item">
            <a href="index.html" class="nav__link link-reset">
              Команда
            </a>
          </li>
          <li class="nav__item">
            <a href="blog.html" class="nav__link link-reset">
              Блог
            </a>
          </li>
          <li class="nav__item">
            <a href="product.html" class="nav__link link-reset">
              Продукты
            </a>
          </li>
          <li class="nav__item">
            <a href="contacts.html" class="nav__link link-reset">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <a href="form-login.html" class="header__link link-reset">
        Войти
      </a>
    </div>
    <button id="burger" class="burger-btn">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>
  </div>
</header>
