<section class="hero">
  <div class="hero__inner">
    <div class="gallary">
      <div class="hero__wrapper swiper-wrapper">
        <!-- Слайд 1 -->
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-inner">
            <h2 class="hero__head">
              Хедж-фонд
            </h2>
            <p class="hero__desc">
              Классический выбор профессиональных инвесторов с&nbsp;
              заданными умеренными параметрами риска. Основан на&nbsp;
              инвестировании в&nbsp;бумаги индекса S&amp;P 500&nbsp;
              с диверсификацией по&nbsp;11&nbsp;секторам экономики.
            </p>
            <button class="btn btn-reset hero__btn">
              Подробнее
            </button>
          </div>
        </div>
        <!-- Слайд 2 -->
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-inner">
            <h2 class="hero__head">
              Fonte Emerging Markets CEIC Limited
            </h2>
            <p class="hero__desc">
              Fonte CEEF Emerging Markets Ltd
            </p>
            <button class="btn btn-reset hero__btn">
              Подробнее
            </button>
          </div>
        </div>
        <!-- Слайд 3 -->
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-inner">
            <h2 class="hero__head">
              Fonte Crypto Fund OEIC Limited
            </h2>
            <p class="hero__desc">
              Фонд обеспечивает доступ к инвестициям в цифровые активы
            </p>
            <button class="btn btn-reset hero__btn">
              Подробнее
            </button>
          </div>
        </div>
        <!-- Слайд 4 -->
        <div class="hero__slide swiper-slide">
          <div class="hero__slide-inner">
            <h2 class="hero__head">
              Fonte Exponential Fund OEIC Limited
            </h2>
            <p class="hero__desc">
              The Fund's target asset allocation includes Emerging Markets Fixed Income as well as
              Emerging Markets Equities
            </p>
            <button class="btn btn-reset hero__btn">
              Подробнее
            </button>
          </div>
        </div>
      </div>

      <div class="hero__pagination swiper-pagination"></div>

      <div class="swiper-button-prev">
        <svg width="26" height="27" viewBox="0 0 26 27" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13 26C19.6274 26 25 20.4036 25 13.5C25 6.59644 19.6274 1 13 1C6.37258 1 1 6.59644 1 13.5C1 20.4036 6.37258 26 13 26Z"
            stroke-width="2" stroke-miterlimit="10" />
          <path d="M15 8.8125L10 13.5L15 18.1875" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1Z"
            stroke-width="2" stroke-miterlimit="10" />
          <path d="M11 17.5L16 13L11 8.5" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>
</section>
