<section class="partners">
  <div class="container">
    <div class="partners__wrapper">
      <h2 class="section-title partners__title">
        Сторонники и Партнеры
      </h2>
      <div class="partners__swiper-wrapper">
        <div class="partners__swiper swiper">
          <!-- Additional required wrapper -->
          <div class="partners__swiper-inner swiper-wrapper">
            <!-- Slides -->
            <div class="partners__slide swiper-slide">
              <a href="#">
                <img src="./images/part2.png" alt="">
              </a>
            </div>
            <div class="partners__slide swiper-slide">
              <a href="#">
                <img src="./images/part4.png" alt="">
              </a>
            </div>
            <div class="partners__slide swiper-slide">
              <a href="#">
                <img src="./images/part5.png" alt="">
              </a>
            </div>
            <div class="partners__slide swiper-slide">
              <a href="#">
                <img src="./images/part6.png" alt="">
              </a>
            </div>
            <div class="partners__slide swiper-slide">
              <a href="#">
                <img src="./images/part8.png" alt="">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
