<section class="product">
  <div class="container">
    <h1 class="visually-hidden">Наши продукты</h1>
    <h2 class="section-title product__title">
      Продукты
    </h2>
    <ul class="product__list list-reset">
      <li class="product__item">
        <div class="product__block product__img-1"></div>
        <div class="product__wrapper">
          <h3 class="product__subtitle">
            Хедж-фонд
          </h3>
          <p class="product__text">
            Классический выбор профессиональных инвесторов с&nbsp;заданными умеренными параметрами
            риска. Основан на&nbsp;инвестировании в&nbsp;бумаги индекса S&amp;P 500&nbsp;с
            диверсификацией по&nbsp;11&nbsp;секторам экономики.
          </p>
          <a href="#" class="product__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
      <li class="product__item">
        <div class="product__block product__img-2"></div>
        <div class="product__wrapper">
          <h3 class="product__subtitle">
            Крипто фонд*
          </h3>
          <p class="product__text">
            Предоставляет клиентам легальные возможности для инвестирования в&nbsp;криптовалюту
            и&nbsp;связанные с&nbsp;ней продукты.
          </p>
          <a href="#" class="product__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
      <li class="product__item">
        <div class="product__block product__img-3"></div>
        <div class="product__wrapper">
          <h3 class="product__subtitle">
            Венчурный фонд *
          </h3>
          <p class="product__text">
            Инвестиции в&nbsp;компании и&nbsp;проекты (стартапы), в&nbsp;том числе в&nbsp;компании
            на&nbsp;этапе Pre-IPO. Подходит для инвесторов, желающих получить более высокий доход
            при повышенной степени риска
          </p>
          <a href="#" class="product__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
      <li class="product__item">
        <div class="product__block product__img-4"></div>
        <div class="product__wrapper">
          <h3 class="product__subtitle">
            Сукук фонд *
          </h3>
          <p class="product__text">
            Предлагает возможность осуществлять долгосрочные инвестиции
            в&nbsp;инструменты с
            фиксированной доходностью, соответствующие принципам Шариата
          </p>
          <a href="#" class="product__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
      <li class="product__item">
        <div class="product__block product__img-5"></div>
        <div class="product__wrapper">
          <h3 class="product__subtitle">
            Кастом/Private
          </h3>
          <p class="product__text">
            Можем учесть ваши пожелания
            по&nbsp;параметрам фонда
          </p>
          <a href="#" class="product__link link-reset">
            Подробнее
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
