<section id="team" class="team">
  <div class="container">
    <div class="team__wrapper">
      <h2 class="section-title team__title">
        Наша команда
      </h2>
      <p class="team__desc">
        Команда Fonte Capital LTD&nbsp;&mdash; основа успеха. Каждый сотрудник Компании&nbsp;&mdash;
        это ценный актив в&nbsp;рабочем процессе фонда. Наша цель&nbsp;&mdash; создание такой рабочей
        атмосферы и&nbsp;
        условий, которые позволят максимально раскрыть потенциал каждого сотрудника для достижения
        максимального результата.
      </p>
      <ul class="team__list list-reset">
        <il class="team__item">
          <img class="team__img" src="./images/peaple-1.png" alt="Фотография Ержана Мусина">
          <strong class="team__name-peaple">
            Ержан Мусин
          </strong>
          <span class="team__prof">
            CEO
          </span>
        </il>
        <il class="team__item">
          <img class="team__img" src="./images/peaple-1.png" alt="Фотография Олжас Укенова">
          <strong class="team__name-peaple">
            Олжас Укенов
          </strong>
          <span class="team__prof">
            CFO
          </span>
        </il>
        <il class="team__item">
          <img class="team__img" src="./images/peaple-1.png" alt="Фотография Ержана Мусина">
          <strong class="team__name-peaple">
            Ержан Мусин
          </strong>
          <span class="team__prof">
            CEO
          </span>
        </il>
        <il class="team__item">
          <img class="team__img" src="./images/peaple-1.png" alt="Фотография Олжас Укенова">
          <strong class="team__name-peaple">
            Олжас Укенов
          </strong>
          <span class="team__prof">
            CFO
          </span>
        </il>
      </ul>
    </div>
  </div>
</section>
