<section class="values">
  <div class="container">
    <div class="values__wrapper">
      <h2 class="section-title values__title">
        Наши ценности
      </h2>
      <ul class="values__list list-reset">
        <il class="values__item values__item-img1">
          <h3 class="values__title">
            Стабильность
          </h3>
          <p class="values__text">
            Сохранность капитала клиентов приоритетнее доходности&nbsp;&mdash;
            каждое решение взвешено, обдумано и&nbsp;оценено.
          </p>
        </il>
        <il class="values__item values__item-img2">
          <h3 class="values__title">
            Устойчивость
          </h3>
          <p class="values__text">
            Устойчивое развитие&nbsp;&mdash; основа нашей бизнес-модели. Начиная с&nbsp;
            поиска и&nbsp;оценки предоставившихся возможностей для бизнеса до&nbsp;
            последовательного развития наших проектов и&nbsp;реаллокации капитала в&nbsp;новые
            возможности.
          </p>
        </il>
        <il class="values__item values__item-img3">
          <h3 class="values__title">
            Команда
          </h3>
          <p class="values__text">
            Команда Fonte Capital LTD&nbsp;&mdash; основа успеха. Каждый сотрудник
            Компании&nbsp;&mdash;
            это ценный актив в&nbsp;рабочем процессе фонда. Наша цель&nbsp;&mdash; создание такой
            рабочей атмосферы и&nbsp;
            условий, которые позволят максимально раскрыть потенциал каждого сотрудника для
            достижения максимального результата.
          </p>
        </il>
        <il class="values__item values__item-img4">
          <h3 class="values__title">
            Репутация
          </h3>
          <p class="values__text">
            Ответственность и&nbsp;этика&nbsp;&mdash; основа нашей деятельности. Деятельность
            в&nbsp;рамках лучших практик (Корпоративный Кодекс этики и&nbsp;
            стандарты профессионального поведения) позволяет предлагать клиентам более качественные
            инвестиционные продукты, отвечающие высоким требованиям и&nbsp;
            ожиданиям самых требовательных клиентов.
          </p>
        </il>
      </ul>
    </div>
  </div>
</section>
