@media (max-width: 1200px) {
  .nav {
    margin-right: 25px;
  }

  .modal__login {
    left: 40%;
    width: 60%;
  }

  .header__btn {
    margin-left: unset;
  }
}

@media (max-width: 1024px) {
  .header__wrapper-nav {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 100vh;
    background: rgb(49, 49, 49);
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.4s linear;
  }

  .nav {
    margin-bottom: 48px;
  }

  .nav__list {
    flex-direction: column;
  }

  .burger-btn {
    display: block;
  }

  .header__link {
    margin: 0 auto;
  }

  .blog-page {
    padding: 200px 50px;
  }

  .contacts__input {
    width: 100%;
  }

  .contacts__btn {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .about__content {
    padding-left: 0;
    padding-right: 360px;
    background-position: top right;
    background-size: 340px auto;
  }

  .feedback__wrapper {
    background: unset;
    padding: 50px;
  }

  .footer__bottom-content {
    width: 100%;
  }

  .contacts {
    padding: 150px 20px;
  }

  .contacts__wrapper {
    gap: 20px;
  }

  .modal__btn {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .about {
    box-shadow: none;
  }

  .gallary .swiper-button-next {
    top: 20%;
    left: 25%;
  }

  .about__wrapper {
    padding: 50px 0;
  }

  .about__content {
    padding-right: 0;
    padding-top: 475px;
    background-position: top;
    background-size: 350px auto;
  }

  .values__wrapper {
    padding: 50px 0;
  }

  .values__list {
    --offsets: 0;
  }

  .team__wrapper {
    padding: 50px 0;
  }

  .team__desc {
    width: 100%;
  }

  .feedback__inner {
    flex-direction: column;
    gap: unset;
  }

  .footer__img {
    margin-bottom: 30px;
  }

  .footer__top-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .blog__item {
    flex-direction: column;
    gap: 0;
  }

  .product {
    padding: 120px 70px;
  }

  .product__text,
  .producct__link {
    font-size: 12px;
  }

  .contacts__wrapper {
    flex-direction: column;
  }

  .contacts__inner {
    width: 80%;
  }

  .contacts__form {
    width: 80%;
  }

  .contacts__input {
    width: 100%;
  }

  .contacts__btn {
    width: 100%;
  }

  .contacts__map {
    flex-direction: column;
  }

  .contacts__map-almaty,
  .contacts__map-astana {
    width: 100%;
  }

  .modal__login {
    left: 20%;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .burger-menu {
    width: 65%;
  }

  .nav__link {
    font-size: 24px;
  }

  .gallary .swiper-pagination {
    width: 35%;
    top: 80%;
  }

  .about__content {
    padding-right: 0;
    padding-top: 230px;
    background: url("../images/about-mob.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }

  .about__link {
    margin: 0 auto;
  }

  .team__list {
    justify-content: center;
  }

  .partners__wrapper {
    padding-left: 0;
  }

  .blog__wrapper {
    padding: 30px 0;
  }

  .feedback__wrapper {
    padding: 20px 0;
  }

  .footer__nav .nav__list {
    column-gap: 40px;
  }

  .footer__nav .nav__link {
    font-size: 18px;
  }

  .blog-page {
    padding: 130px 0;
  }

  .contacts {
    padding: 150px 0;
  }

  .product__wrapper {
    padding: 25px;
  }

  .modal__login {
    left: 0;
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 420px) {
  .about__content {
    padding-top: 160px;
  }

  .blog-link__text {
    font-size: 25px;
  }

  .product {
    padding: 120px 0;
  }

  .product__item,
  .product__block {
    min-height: 320px;
  }

  .product__wrapper {
    min-height: 320px;
    padding: 15px;
    background: linear-gradient(
      90deg,
      #434148 0%,
      #434148 6.64%,
      rgba(67, 65, 72, 0.8) 30.27%,
      rgba(67, 65, 72, 0.53) 55.36%,
      rgba(34, 33, 37, 0.27) 100.62%,
      rgba(0, 0, 0, 0) 100.25%
    );
  }

  .contacts {
    padding: 150px 0;
  }

  .contacts__inner {
    width: 100%;
  }

  .contacts__form {
    width: 100%;
  }
}
